<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of balanceCollection">
      <h2>{{item.name}}</h2>
      <p item-right>{{item.nominal | currency:'IDR'}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <h2>Balance</h2>
      <p item-right>{{balance | currency:'IDR'}}</p>
    </ion-item>
  </ion-list>
  <!-- instrument-->
  <ion-list>
    <ion-item *ngFor="let item of instrumentCollection">
      <h2> {{item.name}}</h2>
      <p item-right>{{calculateInstrument(item.value) | currency:'IDR'}}
        <button ion-button
                [navPush]="recordPage"
                [navParams]="item">
          <ion-icon name="add"></ion-icon>
        </button>
      </p>
    </ion-item>
  </ion-list>
  <ion-fab center bottom>
    <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
