<!--
  Generated template for the BudgetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Budget</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<ion-list *ngIf="BudgetIncome.length>0" no-lines>-->
    <!--<ion-list-header>-->
      <!--Income-->
    <!--</ion-list-header>-->
    <!--<button ion-item (click)="clickDetail(item)" *ngFor="let item of BudgetIncome">-->
      <!--<progressbar [status]="'plus'" [progress]="item.persen"></progressbar>-->
      <!--<p>{{item.name}} <small item-end>{{item.status?"("+item.status+")":""}}</small></p>-->
    <!--</button>-->
  <!--</ion-list>-->
  <!--<ion-list *ngIf="BudgetExpenses.length>0" no-lines>-->
    <!--<ion-list-header>-->
      <!--Expense-->
    <!--</ion-list-header>-->
    <!--<button ion-item (click)="clickDetail(item)" *ngFor="let item of BudgetExpenses">-->
      <!--<progressbar [status]="'minus'" [progress]="item.persen"></progressbar>-->
      <!--<p>{{item.name}} <small item-end>{{item.status?"("+item.status+")":""}}</small></p>-->
    <!--</button>-->
  <!--</ion-list>-->
  <!--<ion-fab center bottom>-->
    <!--<button (click)="clickTambah()" ion-fab color="light"><ion-icon name="md-add"></ion-icon></button>-->
  <!--</ion-fab>-->
<ion-list>
  <ion-list-header>
    Budget
  </ion-list-header>
  <button ion-item (click)="clickDetail(item)" *ngFor="let item of items | async">
    <progressbar [status]="'minus'" [progress]="item.persen"></progressbar>
    <p>{{item.name}} <small item-end>{{item.status?"("+item.status+")":""}}</small></p>
    <!--{{item | json}}-->
  </button>
</ion-list>
</ion-content>
